body {
    font-family: Calibri, Helvetica, sans-serif;
    margin:0;
    background: no-repeat center center/cover;
    background-attachment: fixed
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.topnav a:hover {
    background-color: #333;
    color: white;
}

.button_log {
    font-family: Calibri, Helvetica, sans-serif;
    background-color:white;
    font-size: 19px;
    color: #000000;
    padding: 14px 16px;
    border: none;
    cursor: pointer;}

.button_log:hover {
    background-color: #333;
    color: white;
}
.container{
    margin: 0 auto;
    width: 75%;
}


