.trainings_table {margin: 0 auto;
border-collapse: collapse;
border-spacing: 0;
width: 95%;
border: 2px solid #ddd;
}
.trainings_table .tr{
    background-color: #626262;
}
.trainings_table .th, .td {
    text-align: left;
    padding: 16px;
}
.trainings_table .tr:nth-child(even) {
    background-color: #ABABAB;
}